In [11]:
# Read the Number of Participants
n=int(input())
scores = []
for i in range(n):
    s= int(input())
    scores.append(s)
scores=sorted(scores,reverse=True)
max_score = max(scores)
runner_up_score = scores[1]
try:
    for i in range(1,n):
        if max_score == scores[i]:
            runner_up_score = scores[i+1]
    print("The runner up score is ",runner_up_score)
except:
    print("Sorry there is no runner up score")

5
5
4
3
2
1
The runner up score is  4

In [6]:
l=['praneeth','rajesh','raja','hanuman','kalyan','swami','sindhu','gayathri','sairam','gauthami']
print(l,end=" ")

['praneeth', 'rajesh', 'raja', 'hanuman', 'kalyan', 'swami', 'sindhu', 'gayathri', 'sairam', 'gauthami']

In [15]:
l=['praneeth','rajesh','raja','hanuman','kalyan','swami','sindhu','gayathri','sairam','gauthami']
val = int(input('What index value you want to remove? '))
for i in range(len(l)):
    if i == val:
        l.remove(l[i])
print(l)

What index value you want to remove? 2
['praneeth', 'rajesh', 'hanuman', 'kalyan', 'swami', 'sindhu', 'gayathri', 'sairam', 'gauthami']

   #### Dictionaries

In [18]:
sample={"Name":"SaiGauthami","age":22,"profession":"teacher"}
print(sample['age'])

22

In [19]:
sample['age']=23
sample

{'Name': 'SaiGauthami', 'age': 23, 'profession': 'teacher'}

In [20]:
for i in sample:
    print(i)

Name
age
profession

In [21]:
for i in sample.values():
    print(i)

SaiGauthami
23
teacher

In [24]:
for i in sample.items():
    print(i[0])
    #print(i[1])

Name
age
profession

In [25]:
#inserting a new keys in the dictionary
sample['salary']=1000
print(sample)

{'Name': 'SaiGauthami', 'age': 23, 'profession': 'teacher', 'salary': 1000}

In [26]:
 # dict.pop('keyname') is used to remove perticular key & corresponding value
sample.pop('profession')
sample

{'Name': 'SaiGauthami', 'age': 23, 'salary': 1000}

In [27]:
#popitem() removes the last key and corresponding value in that dict.
sample.popitem()
sample

{'Name': 'SaiGauthami', 'age': 23}

In [29]:
#clear() method clears entair dictionaries
sample.clear()
sample

{}

In [30]:
sample=dict(name="Ram",age=20)
sample

{'name': 'Ram', 'age': 20}

In [7]:
# Read all the individual scores of 10 sportspersons 
 #and display the winner name use dictionaries for this problem.
    
sports={}
# Read Scores and sportspersons names
for i in range(3):
    name=input('enter the sportsperons name :')
    score = int(input('Enter the score made by '))
    sports[name] = score
max_score = max(sports.values())
for i in sports.items():
    if i[1] == max_score:
        print(i[0])

enter the sportsperons name :sai
Enter the score made by 543
enter the sportsperons name :ram
Enter the score made by 123
enter the sportsperons name :gauthami
Enter the score made by 988
gauthami

In [13]:
# Read all the individual scores of the batsmen
# add print their rankings based on the scores

#sample input
       #  sai  - 123
       #   ram  - 4322
       #  ran  - 4567
       #   ias  - 5432  
# sample output

          # 1 - ias
          # 2 - ran
          # 3 - ram
          # 4 - sai
            
          
sport = {}
# Read scores and sportspersons names
for i in range(4):
    n = input('enter the sportspersons name : ')
    s = int(input('enter score by person'))
    sport[n]=s
k=sorted(sport,key=sport.get,reverse=True)
m = {key: rank for rank ,key in enumerate(k,1)}
print(m)

enter the sportspersons name : sai
enter score by person435
enter the sportspersons name : ram
enter score by person675
enter the sportspersons name : ran
enter score by person987
enter the sportspersons name : rama
enter score by person87665
{'rama': 1, 'ran': 2, 'ram': 3, 'sai': 4}

In [2]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [9]:
import mymodule as a
a.mymodule

AttributeError: module 'mymodule' has no attribute 'mymodule'

In [10]:
n1=int(input())
n2=int(input())
temp = n1
if n1>n2:
    temp = n2
count = 0
for i in range(1,temp):
    if n1%i==0 and n2%i==0:
        count+=1
print(count)

10
15
2

In [42]:
# Read all the individual scores of the batsmen
# add print their rankings based on the scores

#sample input
       #  sai  - 123
       #   ram  - 4322
       #  ran  - 4567
       #   ias  - 5432  
# sample output

          # 1 - ias
          # 2 - ran
          # 3 - ram
          # 4 - sai
        
sport = {}
# Read scores and sportspersons names
for i in range(4):
    n = input('enter the sportspersons name : ')
    s = int(input('enter score by person'))
    sport[n]=s       
l=sport.values()
l = sorted(l,reverse=True)
rank = 1
for k in l:
    for j in sport.items():
        if k == j[1]:
            print(j[0],rank)
            rank +=1

enter the sportspersons name : sai
enter score by person123
enter the sportspersons name : ram
enter score by person987
enter the sportspersons name : ran
enter score by person7654
enter the sportspersons name : rama
enter score by person23456
rama 1
ran 2
ram 3
sai  4

In [39]:
# Find Highest Frequent element in the list
[1,1,1,1,1,2,3,4,5,2,2,2,2,1,3,3]
1
# Find second Highest Frequent element in the list
[1,1,1,1,1,2,3,4,5,2,2,2,2,1,3,3]
2
#Find kth Highest Frequent element in the list
[1,1,1,1,1,2,3,4,5,2,2,2,2,1,3,3]
k=3
3




li = input().split(",")
highest = 0 
result = 0 
for i in li:
    frequency = li.count(i)
    if frequency > highest:
        highest = frequency
        result = i
print(result,"-->",li.count(result))

1,2,3,3,4,5,6,7,8,8,9,1,1,1,1,1,2,3,4,5,2,2,2,2,1,3,3
1 --> 7

In [15]:
#Find the absolute difference of two numbers
# without using 'abs' function
n1=int(input())
n2=int(input())
print((n1-n2)*-1)

-1
54
55

In [ ]:
# Find Highest Frequent element in the list
[1,1,1,1,1,2,3,4,5,2,2,2,2,1,3,3]
1
# Find second Highest Frequent element in the list
[1,1,1,1,1,2,3,4,5,2,2,2,2,1,3,3]
2
#Find kth Highest Frequent element in the list
[1,1,1,1,1,2,3,4,5,2,2,2,2,1,3,3]
k=3
3

In [49]:
# Highest Frequent element in the list

def highestFrequency(l):
    d = {}
    for i in l:
        count = l.count(i)
        if i not in d:
            d[i] = count
    return d
d = highestFrequency([1,2,1,2,1,2,2,1,1,2,3,4,5,2,3,4,2,1,2,3,4,4])
l = sorted(d.values(),reverse =True)
max_value =l[1]
#max_value=max(d.values())    
for i in d.items():
    if i[1] == max_value:
        print(i[0])

1

In [50]:
max_element = 0
while True:
    n=input()
    if n=='EXIT':
        break
    num = int(n)
    if num %2==0:
        print(num,end =" ")
        if max_element < num:
            max_element = num
print("\n")
print(max_element)

38
38 34
34 EXIT


38

In [53]:
n = int(input())
d = {}
for i in range(n):
    iurl = input().split(".")
    domain = iurl[-1]
    if domain not in d:
        d[domain] = 1
    else:
        d[domain] +=1
m = max(d.values())
for i in d.items():
    if i[1] == m:
        print(i[0])

3
www.google.com
www.apssdc.in
www.redbus.com
com